@charset "UTF-8";
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 99999;
  filter: brightness(0.9);
  backdrop-filter: blur(4px) brightness(0.8);
  border-bottom: 2px solid rgba(154, 154, 154, 0.1294117647);
  background: rgba(16, 16, 16, 0.1490196078);
}
header .wrapper {
  height: 100%;
}
header .wrapper .cotainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: transparent;
}
header .wrapper .cotainer .item {
  --transition: 200ms;
  display: block;
  position: relative;
  border-radius: 20px;
}
header .wrapper .cotainer .item a {
  gap: 20px;
  display: flex;
  padding: 0px 20px;
  position: relative;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
  transition: var(--transition) ease-in-out;
}
header .wrapper .cotainer .item a:hover, header .wrapper .cotainer .item a:focus-visible {
  transition: var(--transition) ease-in-out;
  box-shadow: 0px 2px 6px 0px #000;
  background: #000;
  outline: none;
  border: none;
}
header .wrapper .cotainer .item a:hover i, header .wrapper .cotainer .item a:focus-visible i {
  filter: drop-shadow(0px 0px 8px #000);
  transition: var(--transition);
}
header .wrapper .cotainer .item a i {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transition);
  background-position: left center;
  background-image: url("../img/icon.png");
}
header .wrapper .cotainer .item a p {
  font-size: 22px;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}
header .wrapper .cotainer .item a.developer i {
  border-radius: 50%;
  background-image: url("https://avatars.githubusercontent.com/u/47889456?v=4");
}

section {
  position: relative;
  display: block;
  top: 150px;
  height: 500px;
  width: 100%;
}
section .wrapper {
  height: 100%;
}
section .wrapper .container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  backdrop-filter: blur(4px) brightness(0.8);
  background: rgba(16, 16, 16, 0.1490196078);
  box-shadow: 0px 2px 6px 0px #000;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  gap: 50px;
}
section .wrapper .container .item {
  position: relative;
  width: 30%;
  height: 70%;
  border-radius: 10px;
  border: 1px solid #5c5c5c;
  display: flex;
  overflow: hidden;
  transition: 200ms;
  cursor: pointer;
}
section .wrapper .container .item:hover, section .wrapper .container .item:focus-visible, section .wrapper .container .item:has(a:hover, a:focus-visible) {
  box-shadow: 0px 0px 0px 4px #007d62;
  transition: 200ms;
  transform: translateY(-2px);
  border: 1px solid #007d62;
}
section .wrapper .container .item .loader {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  top: 25%;
}
section .wrapper .container .item .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #007d62;
  animation: prixClipFix 2s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
section .wrapper .container .item a {
  background: rgba(132, 132, 132, 0.2588235294);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  --cardImage1: url("../img/etoBazaGift.png");
  --cardImage2: url("../img/etoBazaLevelUp.jpg");
}
section .wrapper .container .item a .titleBg {
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: contain;
  filter: blur(6px) brightness(0.8);
  position: absolute;
  pointer-events: none;
}
section .wrapper .container .item a .title {
  position: relative;
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #5c5c5c;
  background-position: center;
  pointer-events: none;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 10px #000);
}
section .wrapper .container .item a p.description {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  gap: 10px;
  flex-flow: column;
}
section .wrapper .container .item a.gift .title {
  background-image: var(--cardImage1);
}
section .wrapper .container .item a.gift .titleBg {
  background-image: var(--cardImage1);
  pointer-events: none !important;
}
section .wrapper .container .item a.course .title {
  background-image: var(--cardImage2);
}
section .wrapper .container .item a.course .titleBg {
  background-image: var(--cardImage2);
  pointer-events: none !important;
}
section .wrapper .container .item a i.emptyIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-size: 60px;
  color: #ffffff;
  filter: drop-shadow(0px 0px 9px #00e2b2);
}

section.gift {
  top: 130px;
}
section.gift .wrapper {
  overflow: hidden;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  backdrop-filter: blur(4px) brightness(0.8);
  background: rgba(16, 16, 16, 0.1490196078);
  box-shadow: 0px 2px 6px 0px #000;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
section.gift .wrapper .dataForm {
  position: relative;
  left: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 40px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 #000;
}
section.gift .wrapper .dataForm form {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
section.gift .wrapper .dataForm form .inputContainer {
  position: relative;
  display: flex;
  width: 100%;
}
section.gift .wrapper .dataForm form .inputContainer input.dataInput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5019607843);
  width: 250px;
  position: relative;
  color: #fff;
  padding: 10px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  box-shadow: 0px 2px 6px 0px #000;
}
section.gift .wrapper .dataForm form .inputContainer input.dataInput::-webkit-input-placeholder {
  color: transparent;
}
section.gift .wrapper .dataForm form .inputContainer .dataInputLabel {
  color: #fff;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 8px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  top: 50%;
  cursor: auto;
  transition: 100ms;
  pointer-events: none;
  width: max-content;
  user-select: none;
}
section.gift .wrapper .dataForm form .inputContainer input.dataInput:placeholder-shown {
  user-select: none;
}
section.gift .wrapper .dataForm form .inputContainer input.dataInput:focus,
section.gift .wrapper .dataForm form .inputContainer input.dataInput:focus-visible,
section.gift .wrapper .dataForm form .inputContainer input.dataInput:not(:placeholder-shown) {
  border: 2px solid #fff;
  outline: none;
}
section.gift .wrapper .dataForm form .inputContainer input.dataInput:focus ~ label,
section.gift .wrapper .dataForm form .inputContainer input.dataInput:not(:placeholder-shown) ~ .dataInputLabel {
  transform: translate(-50%, -50%);
  padding: 0px 18px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: 100ms;
  font-size: 14px;
  top: 100%;
}
section.gift .wrapper .dataForm form .inputContainer:has(input.dataInput:focus,
input.dataInput:focus-visible,
input.dataInput:not(:placeholder-shown)) .deleteInput {
  opacity: 1;
  transition: var(--transition);
  display: flex;
}
section.gift .wrapper .dataForm form .inputContainer .deleteInput {
  position: absolute;
  width: 26px;
  height: 26px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #07080a;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: var(--transition);
  display: none;
}
section.gift .wrapper .dataForm .submitContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
section.gift .wrapper .dataForm .submitContainer .generate,
section.gift .wrapper .dataForm .submitContainer .send {
  font-size: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  padding: 20px 20px;
  box-shadow: 0px 2px 6px 0px #000;
  background: #007c61;
  backdrop-filter: blur(4px) brightness(0.8);
  border: 2px solid rgb(0, 157, 121);
  cursor: pointer;
  --transition: 200ms;
  transition: var(--transition);
  width: 80%;
  gap: 10px;
}
section.gift .wrapper .dataForm .submitContainer .generate:hover, section.gift .wrapper .dataForm .submitContainer .generate:focus-visible,
section.gift .wrapper .dataForm .submitContainer .send:hover,
section.gift .wrapper .dataForm .submitContainer .send:focus-visible {
  transition: var(--transition) ease-in-out;
  box-shadow: 0px 2px 6px 0px #000;
  background: #000;
  outline: none;
}
section.gift .wrapper .dataForm .submitContainer .send {
  background: #29A1DD;
  border-color: #59bcee;
}
section.gift .wrapper .dataForm .submitContainer .send::before {
  content: "Как вариант, если нужно.\aСейчас не работает 😐";
  display: flex;
  position: absolute;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(4px);
  border: 2px solid #59bcee;
  padding: 10px 20px;
  white-space: pre;
  border-radius: 20px;
  top: 140%;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
  pointer-events: none;
}
section.gift .wrapper .dataForm .submitContainer .send:hover::before, section.gift .wrapper .dataForm .submitContainer .send:focus::before, section.gift .wrapper .dataForm .submitContainer .send:focus-visible::before {
  opacity: 1;
  transition: var(--transition);
  top: 120%;
  visibility: visible;
}
section.gift .wrapper .imageHolder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.gift .wrapper .imageHolder img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16/9;
  pointer-events: none;
  user-select: none;
}
section.gift .wrapper .imageHolder .inputData {
  font-weight: 800;
  position: absolute;
  background: transparent;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 31%;
  text-align: center;
  font-size: 12px;
  height: 16px;
  border-radius: 20px;
}
section.gift .wrapper .imageHolder .inputData.nameGift {
  top: calc(57% + 3px);
}
section.gift .wrapper .imageHolder .inputData.costGift {
  top: calc(65% + 2px);
}
section.gift .wrapper .imageHolder .inputData.courseGift {
  top: calc(73% + 2px);
}

section.graduation {
  top: 120px;
}
section.graduation .wrapper {
  width: 50%;
  overflow: hidden;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  backdrop-filter: blur(4px) brightness(0.8);
  background: rgba(16, 16, 16, 0.1490196078);
  box-shadow: 0px 2px 6px 0px #000;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: unset;
}
section.graduation .wrapper .dataForm {
  position: relative;
  left: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 40px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 #000;
}
section.graduation .wrapper .dataForm form {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
section.graduation .wrapper .dataForm form .inputContainer {
  position: relative;
  display: flex;
  width: 100%;
}
section.graduation .wrapper .dataForm form .inputContainer input.dataInput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5019607843);
  width: 250px;
  position: relative;
  color: #fff;
  padding: 10px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  box-shadow: 0px 2px 6px 0px #000;
}
section.graduation .wrapper .dataForm form .inputContainer input.dataInput::-webkit-input-placeholder {
  color: transparent;
}
section.graduation .wrapper .dataForm form .inputContainer .dataInputLabel {
  color: #fff;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 8px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  top: 50%;
  cursor: auto;
  transition: 100ms;
  pointer-events: none;
  width: max-content;
  user-select: none;
}
section.graduation .wrapper .dataForm form .inputContainer input.dataInput:placeholder-shown {
  user-select: none;
}
section.graduation .wrapper .dataForm form .inputContainer input.dataInput:focus,
section.graduation .wrapper .dataForm form .inputContainer input.dataInput:focus-visible,
section.graduation .wrapper .dataForm form .inputContainer input.dataInput:not(:placeholder-shown) {
  border: 2px solid #fff;
  outline: none;
}
section.graduation .wrapper .dataForm form .inputContainer input.dataInput:focus ~ label,
section.graduation .wrapper .dataForm form .inputContainer input.dataInput:not(:placeholder-shown) ~ .dataInputLabel {
  transform: translate(-50%, -50%);
  padding: 0px 18px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: 100ms;
  font-size: 14px;
  top: 100%;
}
section.graduation .wrapper .dataForm form .inputContainer:has(input.dataInput:focus,
input.dataInput:focus-visible,
input.dataInput:not(:placeholder-shown)) .deleteInput, section.graduation .wrapper .dataForm form .inputContainer:has(input.dataInput:focus,
input.dataInput:focus-visible,
input.dataInput:not(:placeholder-shown)) .setDateInput {
  opacity: 1;
  transition: var(--transition);
  display: flex;
}
section.graduation .wrapper .dataForm form .inputContainer .deleteInput,
section.graduation .wrapper .dataForm form .inputContainer .setDateInput {
  position: absolute;
  width: 26px;
  height: 26px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #07080a;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: var(--transition);
  display: none;
}
section.graduation .wrapper .dataForm form .inputContainer .setDateInput {
  opacity: 1;
  display: flex;
  left: 30px;
  transform: translate(-50%, -50%);
  border-color: #fff;
}
section.graduation .wrapper .dataForm .submitContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
section.graduation .wrapper .dataForm .submitContainer .generate,
section.graduation .wrapper .dataForm .submitContainer .send {
  font-size: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  padding: 20px 20px;
  box-shadow: 0px 2px 6px 0px #000;
  background: #007c61;
  backdrop-filter: blur(4px) brightness(0.8);
  border: 2px solid rgb(0, 157, 121);
  cursor: pointer;
  --transition: 200ms;
  transition: var(--transition);
  width: 80%;
  gap: 10px;
}
section.graduation .wrapper .dataForm .submitContainer .generate:hover, section.graduation .wrapper .dataForm .submitContainer .generate:focus-visible,
section.graduation .wrapper .dataForm .submitContainer .send:hover,
section.graduation .wrapper .dataForm .submitContainer .send:focus-visible {
  transition: var(--transition) ease-in-out;
  box-shadow: 0px 2px 6px 0px #000;
  background: #000;
  outline: none;
}
section.graduation .wrapper .dataForm .submitContainer .send {
  background: #29A1DD;
  border-color: #59bcee;
}
section.graduation .wrapper .dataForm .submitContainer .send::before {
  content: "Как вариант, если нужно.\aСейчас не работает 😐";
  display: flex;
  position: absolute;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(4px);
  border: 2px solid #59bcee;
  padding: 10px 20px;
  white-space: pre;
  border-radius: 20px;
  top: 140%;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
  pointer-events: none;
}
section.graduation .wrapper .dataForm .submitContainer .send:hover::before, section.graduation .wrapper .dataForm .submitContainer .send:focus::before, section.graduation .wrapper .dataForm .submitContainer .send:focus-visible::before {
  opacity: 1;
  transition: var(--transition);
  top: 120%;
  visibility: visible;
}
section.graduation .wrapper .imageHolder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
section.graduation .wrapper .imageHolder img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  pointer-events: none;
  user-select: none;
}
section.graduation .wrapper .imageHolder .inputData {
  font-weight: 800;
  position: absolute;
  background: transparent;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 70%;
  text-align: center;
  font-size: 12px;
  height: 16px;
  border-radius: 20px;
}
section.graduation .wrapper .imageHolder .inputData.nameGrad {
  top: calc(49% + 7px);
}
section.graduation .wrapper .imageHolder .inputData.courseGrad {
  top: calc(64% + 7px);
}
section.graduation .wrapper .imageHolder .inputData.masterGrad {
  top: calc(84% + 0px);
  width: 33%;
  left: calc(31% + 7px);
  font-size: 7px;
  display: flex;
  justify-content: start;
  align-items: end;
}
section.graduation .wrapper .imageHolder .inputData.dateGrad {
  top: calc(84% + 2px);
  width: 28%;
  right: 1%;
  left: unset;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(177, 177, 177, 0.4666666667);
}

*::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 6px;
  transition: 300ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::selection {
  background: #00c69b;
}

* {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  background: #1c2128;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.6392156863), transparent);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent !important;
}