.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 99999;
  filter: brightness(0.9);
  backdrop-filter: blur(4px) brightness(0.8);
  border-bottom: 2px solid rgba(154, 154, 154, 0.1294117647);
  background: rgba(16, 16, 16, 0.1490196078);
}
header .wrapper {
  height: 100%;
}
header .wrapper .cotainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: transparent;
}
header .wrapper .cotainer .item {
  --transition: 200ms;
  display: block;
  position: relative;
  border-radius: 20px;
}
header .wrapper .cotainer .item a {
  gap: 20px;
  display: flex;
  padding: 0px 20px;
  position: relative;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
  transition: var(--transition) ease-in-out;
}
header .wrapper .cotainer .item a:hover, header .wrapper .cotainer .item a:focus-visible {
  transition: var(--transition) ease-in-out;
  box-shadow: 0px 2px 6px 0px #000;
  background: #000;
  outline: none;
  border: none;
}
header .wrapper .cotainer .item a:hover i, header .wrapper .cotainer .item a:focus-visible i {
  filter: drop-shadow(0px 0px 8px #000);
  transition: var(--transition);
}
header .wrapper .cotainer .item a i {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transition);
  background-position: left center;
  background-image: url("../img/icon.png");
}
header .wrapper .cotainer .item a p {
  font-size: 22px;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}
header .wrapper .cotainer .item a.developer i {
  border-radius: 50%;
  background-image: url("https://avatars.githubusercontent.com/u/47889456?v=4");
}

section {
  position: relative;
  display: block;
  top: 150px;
  height: 500px;
  width: 100%;
}
section .wrapper {
  height: 100%;
}
section .wrapper .container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  backdrop-filter: blur(4px) brightness(0.8);
  background: rgba(16, 16, 16, 0.1490196078);
  box-shadow: 0px 2px 6px 0px #000;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  gap: 50px;
}
section .wrapper .container .item {
  position: relative;
  width: 30%;
  height: 70%;
  border-radius: 10px;
  border: 1px solid #5c5c5c;
  display: flex;
  overflow: hidden;
  transition: 200ms;
  cursor: pointer;
}
section .wrapper .container .item:hover, section .wrapper .container .item:focus-visible, section .wrapper .container .item:has(a:hover, a:focus-visible) {
  box-shadow: 0px 0px 0px 4px #007d62;
  transition: 200ms;
  transform: translateY(-2px);
  border: 1px solid #007d62;
}
section .wrapper .container .item .loader {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  top: 25%;
}
section .wrapper .container .item .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #007d62;
  animation: prixClipFix 2s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
section .wrapper .container .item a {
  background: rgba(132, 132, 132, 0.2588235294);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  --cardImage1: url("../img/etoBazaGift.png");
  --cardImage2: url("../img/etoBazaLevelUp.jpg");
}
section .wrapper .container .item a .titleBg {
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: contain;
  filter: blur(6px) brightness(0.8);
  position: absolute;
  pointer-events: none;
}
section .wrapper .container .item a .title {
  position: relative;
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #5c5c5c;
  background-position: center;
  pointer-events: none;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 10px #000);
}
section .wrapper .container .item a p.description {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  gap: 10px;
  flex-flow: column;
}
section .wrapper .container .item a.gift .title {
  background-image: var(--cardImage1);
}
section .wrapper .container .item a.gift .titleBg {
  background-image: var(--cardImage1);
  pointer-events: none !important;
}
section .wrapper .container .item a.course .title {
  background-image: var(--cardImage2);
}
section .wrapper .container .item a.course .titleBg {
  background-image: var(--cardImage2);
  pointer-events: none !important;
}
section .wrapper .container .item a i.emptyIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-size: 60px;
  color: #ffffff;
  filter: drop-shadow(0px 0px 9px #00e2b2);
}

section.gift .wrapper {
  width: 800px;
  aspect-ratio: 16/9;
  overflow: hidden;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(154, 154, 154, 0.1294117647);
  backdrop-filter: blur(4px) brightness(0.8);
  background: rgba(16, 16, 16, 0.1490196078);
  box-shadow: 0px 2px 6px 0px #000;
}
section.gift .wrapper img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
section.gift .wrapper input {
  position: absolute;
  background: transparent;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 29%;
  text-align: center;
  font-size: 10px;
}
section.gift .wrapper input.nameGift {
  top: calc(57% + 3px);
}
section.gift .wrapper input.costGift {
  top: calc(64% + 4px);
}
section.gift .wrapper input.courseGift {
  top: calc(71% + 6px);
}
section.gift .wrapper input:hover, section.gift .wrapper input:focus-within {
  outline: none;
  border: none;
  background: transparent;
  backdrop-filter: brightness(0.8);
}

*::-webkit-scrollbar-track {
  background: rgba(177, 177, 177, 0.4666666667);
}

*::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 6px;
  transition: 300ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}

*::-webkit-scrollbar {
  width: 4px;
}

* {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  background: #1c2128;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.6392156863), transparent);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent !important;
}/*# sourceMappingURL=styles.css.map */