section.gift{
    .wrapper{
        width: 800px;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        padding: 20px;
        position: relative;
        border-radius: 20px;
        border: 2px solid rgba(154, 154, 154, 0.1294117647);
        backdrop-filter: blur(4px) brightness(0.8);
        background: rgba(16, 16, 16, 0.1490196078);
        box-shadow: 0px 2px 6px 0px #000;
        img{
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        input{
            position: absolute;
            background: transparent;
            border: none;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            width: 29%;
            text-align: center;
            font-size: 10px;
            &.nameGift{
                top: calc(57% + 3px);
            }
            &.costGift{
                top: calc(64% + 4px);
            }
            &.courseGift{
                top: calc(71% + 6px);
            }
            &:hover,
            &:focus-within{
                outline: none;
                border: none;
                background: transparent;
                backdrop-filter: brightness(.8);
            }
        }
    }
}